{{!< default}} <main id="site-main" class="site-main outer">
    <div class="inner posts">
        <div class="post-feed">

            {{#tag}}
            <section class="post-card post-card-large">
                <div>
                    <header class="post-card-header">
                        <h2 class="post-card-title">{{name}}</h2>
                    </header>
                    <div class="post-card-excerpt">
                        {{#if description}}
                        {{description}}
                        {{else}}
                        A collection of {{plural ../pagination.total empty='zero posts' singular='% post' plural='%
                        posts'}}
                        {{/if}}
                    </div>
                </div>

            </section>
            {{/tag}}

            {{#foreach posts}}
            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}
            {{/foreach}}

        </div>

        {{pagination}}

    </div>
    </main>